
.example{
  height: "70vh";
  width: "45%";
  display : "flex";
  flex-direction : "column";
  align-items : "center";
  background-color: "White";
  border-radius : "5%";
  overflow: "auto"
}

.example::-webkit-scrollbar{
  display: none;
}
.root{
  display : "flex";
  flex-direction:"column";
  align-items: "center";
  justify-content : "center"
}
.root2{
  display: "flex";
  align-items : "center";
  justify-content : "center"
}

.div{
  height: "80vh";
  width: "45%";
  display : "flex";
  flex-direction : "column";
  align-items:"center";
  background-color: "White";
  border-radius : "5%";
  margin-top : "5%";
  background-image : "url(https://media.canadianunderwriter.ca/uploads/2018/01/Car-Wash.jpg)";
  background-repeat : "no-repeat";
  background-size : "150%"
}
.div2{
  height: "100vh";
  display : "flex";
  flex-direction : "column";
  align-items : "center";
  justify-content : "center";
  background-color: "rgb(236,225,90)"

}
.div3{
  height: "50%";
  width:"50%";
  overflow:"auto";
  margin-bottom:"2%"
}
.div4{
  width:"50%"
}
